.favorite_card {
    width: 175px;
    min-width: 175px;
    height: 50px;
    padding: 26px 24px 26px 26px;
    background: rgba(255, 255, 255, 0.25);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px;

    .content {
        display: flex;
        justify-content: space-between;


        p {
            margin: 0
        }

        .city_weather {
            .city {
                font-family: Helvetica, arial;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;

                color: #333333;
            }

            .weather {
                font-family: Helvetica, arial;
                font-weight: lighter;
                font-size: 12px;
            }
        }

        .temperature_image {
            .temperature {
                font-family: Helvetica, arial;
                font-weight: lighter;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .star {
        cursor: pointer;
    }
}