.favorites {
    display: flex;
    flex-wrap: wrap;
    width: 942px;

}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f5f4f4;
    border-radius: 4px;
    color: #C4C4C4;
    font-weight: 600;
    height: 100px;
    padding: 20px;
    width: 942px;
    text-transform: uppercase;
}