.city {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .navigation_like {
        display: flex;
        width: 942px;
        justify-content: space-between;

        .navigation {
            cursor: pointer;
        }

        .like {
            cursor: pointer;
        }
    }
}